html, body{
  background-color: #17202A;
}

.main-container{
  height:200px;
  border-radius: 5px;

  background-color: #045de9;
background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}


.card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #292929;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;   
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.iconOff {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width:80px;
  background: linear-gradient(90deg, #FF7E7E 0%, #FF4848 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.iconOn {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width:80px;
  background: linear-gradient(90deg, #52BE80 0%, #186A3B 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height:0;
  transition: all 0.3s ease;
}

.card:hover {
  height: 270px;
}

.card:hover .info {
  height: 90%;
}

.card:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height:40px;
}

.card:hover .iconOn {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card:hover .iconOff {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card:hover .iconOn i {
  background: linear-gradient(90deg, #52BE80, #186A3B);
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: all 0.3s ease;
}

.card:hover .iconOff i {
  background: linear-gradient(90deg, #FF7E7E, #FF4848);
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: all 0.3s ease;
}





#text{
  color: #186A3B;
  stroke-dasharray: 3186;
  animation: 30s fillSvg linear;
}

@keyframes fillSvg{
  0%{
      stroke-dashoffset: 3186;
  }
  100%{
      stroke-dashoffset: 0;
  }
}

svg{
  background-color: #17202A !important;
}

svg path{
  stroke: #28B463 !important;
  stroke-width: 5 !important;
}